name: Publish

on:
  push:
    tags:
      - 'v*.*.*'

permissions:
  contents: write
  id-token: write

jobs:
  ci:
    uses: ./.github/workflows/ci.yml

  publish:
    needs: ci
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Set up Deno
        uses: denoland/setup-deno@v2
        with:
          cache: true

      - name: Set version from release tag
        uses: maks11060/deno-publish-version@v2
        with:
          tag: ${{ github.ref_name }}

      - name: Publish to JSR
        run: deno publish --allow-dirty

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
